<%- include('partials/header') %> 
<h1>Compose</h1>
<form action='/compose' method='post'>
    <div class="form-group">
      <label for="title-input">Title</label>
      <input type="text" class="form-control" name='postTitle'>
      <label for="exampleFormControlTextarea1">Post</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name='postBody'></textarea>
    </div>
    <button type="submit" class="btn btn-primary" id='btn' name='button'>Publish</button>
</form>      
<%- include('partials/footer') %> 